.top-page {
  width: 100%;
  height: 15vh;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-hed {
  font-size: 1.4rem;
  padding-left: 20px;
  color: white;
}

.header-nav {
  display: flex;
  align-items: center;
  li {
    font-size: 1.5rem;
    padding-right: 30px;
    @include media(tab) {
      display: none;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
}

// .overlay {
//   content: "";
//   display: block;
//   width: 0;
//   height: 0;
//   background-color: rgba(0, 0, 0, 0.5);
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 2;
//   opacity: 0;
//   transition: opacity .5s;
// }
// .overlay.open {
//   width: 100%;
//   height: 370%;
//   opacity: 1;
// }

// .menu-trigger {
//   display: inline-block;
//   width: 36px;
//   height: 28px;
//   vertical-align: middle;
//   cursor: pointer;
//   position: fixed;
//   top: 30px;
//   right: 30px;
//   z-index: 100;
// }







// .menu-trigger.black span{
  //   background-color: black;
  // }
  // .menu-trigger.active span {
    //   background-color: #fff;
    // }
    // .menu-trigger span:nth-of-type(1) {
      //   top: 0;
      // }
      // .menu-trigger.active span:nth-of-type(1) {
        //   transform: translateY(12px) rotate(-45deg);
        // }
        // .menu-trigger span:nth-of-type(2) {
          //   top: 12px;
          // }
          // .menu-trigger.active span:nth-of-type(2) {
            //   opacity: 0;
            // }
            // .menu-trigger span:nth-of-type(3) {
              //   bottom: 0;
              // }
              // .menu-trigger.active span:nth-of-type(3) {
                //   transform: translateY(-12px) rotate(45deg);
                // }
                
                // nav {
                  //   width: 250px;
                  //   height: 100%;
                  //   padding-top: 100px;
                  //   background-color: rgba(16, 69, 153, 0.8);
                  //   position: fixed;
                  //   top: 0;
                  //   right: 0;
                  //   z-index: 10;
                  //   transform: translate(250px);
                  //   transition: all .5s;
                  // }
                  // nav.open {
                    //   transform: translateZ(0);
                    // }
                    // nav  li {
                      //   text-align: center;
                      //   padding: 10px 0;
                      //   line-height: 100px;
                      // }
                      
                      // nav a {
                        //   color: #fff;
                        //   text-decoration: none;
                        //   font-size: 30px;
                        // }
                        
                        
                        
                        .index {
                          main {
                            background-image: url(../../assets/img/male-4494491_1920.jpg);
                            width: 100%;
                            height: 990px;
                          }
                          
                          .catch{
                            font-size: 56px;
                            color: white;
                            padding: 250px 50px;
                            
                          }
                          
                          footer {
                            width: 100%;
                            height: 90px;
                            background-color: black;
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                          }
                          
                          footer p {
                            cursor: default;
                          }
                          
                          .menu {
                            width: 36px;
                            height: 28px;
                            position: relative;
                            bottom: 60px;
                            left: 1100px;
                          }

                          .header-menu {
                            width: 36px;
                            height: 28px;
                            position: relative;
                            // bottom: 60px;
                            left: 100px;
                          }
                          
                          /* メニューバーの動作 */
                          .overlay {
                            content: "";
                            display: block;
                            width: 0;
                            height: 0;
                            background-color: rgba(0, 0, 0, 0.5);
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 2;
                            opacity: 0;
                            transition: opacity .5s;
                          }
                          .overlay.open {
                            width: 100%;
                            height: 110%;
                            opacity: 1;
                          }
                          
                          .menu-trigger {
                            display: inline-block;
                            width: 36px;
                            height: 28px;
                            vertical-align: middle;
                            cursor: pointer;
                            // position: fixed;
                            top: 500px;
                            right: 30px;
                            z-index: 100;
                            // opacity: 0;
                            /*   transform: translateX(0);
                            transition: transform .5s;
                            */}
                            /* .menu-trigger.active {
                              transform: translateX(-250px);
                            }
                            */
                              .menu-trigger span {
                                display: none;
                                box-sizing: border-box;
                                position: absolute;
                                left: 0;
                                width: 100%;
                                height: 4px;
                                background-color: white;
                                transition: all .5s;
                                border-radius: 5px;
                                @include media(tab) {
                                  display: inline-block;
                                }
                              }
.menu-trigger span {
   display: inline-block;
   box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: all .5s;
    border-radius: 5px;
    opacity: 0;
  }
  .menu-trigger.black span{
    background-color: black;
  }
  .menu-trigger.active span {
    background-color: #fff;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
    opacity: 1;
  }
  .menu-trigger span:nth-of-type(2) {
    top: 12px;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
    opacity: 1;
  }
  
  nav {
    width: 250px;
    height: 100%;
    padding-top: 100px;
    background-color:rgba($color: #000000, $alpha: 0.8);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(250px);
    transition: all .5s;
  }
  nav.open {
    transform: translateZ(0);
  }
  nav  li {
    text-align: center;
    padding: 10px 0;
    line-height: 100px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
  }
  
  /* メニューバーの動作ここまで */
  

}
