@mixin flexColumn(){
    display: flex;
    flex-direction: column;
}

.s2{
    @include flexColumn;
    > .s-ityped{
        font-size: 50px;
        color: lightgrey;
        font-style: italic;
    }
}

$s-h1: navy;
$s-bgc: rgb(189, 202, 240);

%s-extend{
    margin-bottom: 50px;
}

%s-extend1{
    width: 100%;
}

#s1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: $s-h1;
    @extend %s-extend;
}

.s3{
    margin: 0 auto;
    @extend %s-extend1;
} 

.s5{
    height: auto;
    margin-bottom: 50px;
    border: 7px dashed $s-h1;
    background-color: $s-bgc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    @extend %s-extend;
    > p{
        line-height: 30px;
        font-size: 20px;
    }
}


#s2{
    @extend %s-extend1;
    display: flex;
    justify-content: space-around;
}

.s7{
    @extend %s-extend1;
    margin: 10px 0;
}

#s3{
    display: flex;
    justify-content: space-around;
    > table{
        @extend %s-extend;
    }
}

.s10{
    @include flexColumn;
    align-items: center;  
    margin-bottom: 20px; 
    & p{
        line-height: 30px;
        font-size: 20px;
    }
    > .s6{
        width: 200px;
        height: auto;
        animation: 2s rotate ease infinite;
    }
    > .s4{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}


@keyframes rotate{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(180deg);
    }
}


#s12{
    display: flex;
    border: 1px solid black;
    padding: 5px;
    width: 30%;
}

#s13{
    @include flexColumn;
    width: 50%;
}

.s15{
    display: flex;
    justify-content: space-around;
}

table, td, tr{
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
}

caption{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

#s17{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
}

.s-ityped-cursor {
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}